/* Estilos generales para el cuerpo de la página */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/*contenedor principal*/
.container{
    max-width: 600px;
    margin: 80px auto 0 auto;
    padding: 40px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 0 10px 10px gray;
}

/*grupo de formulario*/
.form-group{
    margin-bottom: 20px;
}

/* etiquetas de los campos del formulario*/
label{
    font-weight: bold;
}

/* campos de entrada de texto y area texto*/
input[type="text"],
textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* area de texto*/
textarea{
    resize: vertical;
}

/* boton de enviar*/
button[type=submit]{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Efecto al pasar el mouse sobre el boton*/
button[type=submit]:hover{
    background-color: blueviolet;
}

/* inicio del estilo para el pie de pagina*/
#main-footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
#main-footer p{
    margin: 0;
    font-size: 20px;
    text-align: center;
}
#main-footer a{
    color: white;
}
/*fin de estilos para el pie de pagina*/